# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Scientists
- Table popular Data Science Tools
- Example of multiplication in Python
- Example of division in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Kevin Orlando Morales DÃ­az

https://github.com/kevinomd/DataScienceEcosystem.git